// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');

$primary-font: 'Poppins', sans-serif;
$title-font: 'Knewave', sans-serif;


// Background
$background-primary:#E9E4DE;
$background-light-primary:#e8e8e8;
$background-secondary: #B89550;

// Color
$text-color-main:#333333;
$text-color-secondary:#E9E4DE;
$text-color-black:black;
$text-color-white:white;
$frame-light-grey:rgb(183, 183, 183) ;


//Font Sizes
$link-size: 1.5rem;
$btn-size: 1.4rem;
$card-content-size: 1.2rem;
